<app-head></app-head>
<div class="center">
    <input type="text" class="main" placeholder="Enter Question">
</div>
<div class="center">
    <select class="main2">
          <option>Add Topic</option>
            <option *ngFor="let i of option">{{i}}</option>
        </select>
    <input type="text" class="main3" placeholder="Enter New Topic">
    <button type="button" class="btn btn-info">Add</button>
</div>
<div class="center">
    <select class="main2">
          <option>Add Keyword</option>
            <option *ngFor="let i of option">{{i}}</option>
        </select>
    <input type="text" class="main3" placeholder="Enter New Keyword">
    <button type="button" class="btn btn-info">Add</button>
</div>

<div class="center">
    <button type="button" class="btn btn-info">Submit</button>
</div>