
    <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #001121;">
      <a class="nav-link img">
          <img src="assets/img/accolite.PNG">
      </a>

      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
          <div class="navbar-nav">
              <a href="/home" class="dropdown-item">Home</a>
              <a href="/home/topic" class="dropdown-item">Topics</a>
              <a href="/home/questions/insert" class="dropdown-item">Question</a>
          </div>

          <div class="navbar-nav ml-auto">
              <a class="dropdown" (click)="showNotification()"><i class="fa fa-bell-o"></i>
                  <div *ngIf="notifyUser"class="dropdown-content">
                      <p class="notification" style="color:black;" *ngFor="let notifications of notificationList">{{notifications.description}} </p>

                    </div>
                </a>
              <!-- <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a> -->
              <a href="/user" class="dropdown-item"><i class="fa fa-user-o"></i>User</a>
              <a href="/login" class="dropdown-item"><i class="material-icons">&#xE8AC;</i>Logout</a>
          </div>
      </div>
  </nav>
