<section class="search-sec">
  <div class="container">
    <form>
      <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <input type="text" class="form-control search-slt" placeholder="Enter Search">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <select   class="form-control search-slt" >
                    <option>Topic Name</option>
                      <option *ngFor="let i of topics">{{i.topicname}}</option>
                  </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <button type="button" class="btn btn-danger wrn-btn">Search</button>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <button type="button"  routerLink="/home/questions/insert" class="btn btn-success wrn-btn">Add New Question</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
