<app-head></app-head>

<div class="dropdown m-4">
    <button class="dropbtn">{{topicHeading}}</button>
    <div class="dropdown-content">
        <a *ngFor="let i of option" (click)="getTopic(i)">{{i}}</a>
    </div>
</div>

<div class="card m-5">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/answer" class="btn btn-primary">Show Answer</a>
  </div>
</div>
<div class="card m-5">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/answer" class="btn btn-primary">Show Answer</a>
  </div>
</div>
<div class="card m-5">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Show Answer</a>
  </div>
</div>

